@model PiDev.Domain.Entities.question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test.descriptionTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test.descriptionTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quesText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quesText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idQues }) |
    @Html.ActionLink("Back to List", "Index")
</p>
