@model IEnumerable<PiDev.Domain.Entities.question>

@{
    ViewBag.Title = "Index";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Ajouter question", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.test.descriptionTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quesText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.test.descriptionTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quesText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idQues }) |
            @Html.ActionLink("Details", "Details", new { id=item.idQues }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idQues })
        </td>
    </tr>
}

</table>
