@model PiDev.Domain.TargetSkill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdvyTeam.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TargetSkill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employe.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employe.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobOffer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobOffer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.targetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
