@model IEnumerable<PiDev.Domain.TargetSkill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdvyTeam.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employe.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobOffer.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employe.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobOffer.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.targetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.targetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.targetId })
        </td>
    </tr>
}

</table>
